
    @page
    <div id="loginBlock">
        Введите логин:<br />
        <input id="userName" type="text" />
        <input id="userPassword" type="text" />
        <input id="loginBtn" type="button" value="Войти" />
    </div>
    <br />

    <div class="row">
        <div class="col-6">
            <li id="onlineBlock">

            </li>

        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <textarea style="border: none" id="w3review" name="w3review" rows="25" cols="150" readonly>
              
        </textarea>

        </div>
    </div>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">

        </div>
        <div class="message">
            <div class="col-2">Message</div>
        </div>
        <div class="row">
            <div class="col-4"><input style="border: 0.5; border-color: #fff; color: #fff; background: rgba(0, 0, 0, 0.3);" type="text" id="messageInput" size="100" /></div>
            <div class="col-6" border="1">

            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
